/* Sticky Footer Classes */

html,
body {
    height: 100%;
}

#page-content {
    flex: 1 0 auto;
}

#sticky-footer {
    flex-shrink: 0;
    position: fixed;
    bottom: 0;
    height: 5%;
    width: 100%;
}

/* Other Classes for Page Styling */

